<div class="container">
  <h1>IPsec Configuration</h1>
  <p>Manage your VPN connections based on type.</p>

  <mat-tab-group animationDuration="0ms" class="mat-elevation-z4">
    <mat-tab label="Site-to-Site Connections">
      <ng-template matTabContent>
        <div class="connection-content">
          <div class="actions">
            <button mat-flat-button color="primary" (click)="addConnection('site-to-site')">
              <mat-icon>add</mat-icon>
              Add Site-to-Site Connection
            </button>
          </div>
          <app-ipsec-connection-list
            [connections]="siteToSiteConnections"
            (edit)="editConnection($event)"
            (delete)="deleteConnection($event)">
          </app-ipsec-connection-list>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Remote Access Connections">
      <ng-template matTabContent>
        <div class="connection-content">
          <div class="actions">
            <button mat-flat-button color="primary" (click)="addConnection('remote-access')">
              <mat-icon>add</mat-icon>
              Add Remote Access Connection
            </button>
          </div>
          <app-ipsec-connection-list
            [connections]="remoteAccessConnections"
            (edit)="editConnection($event)"
            (delete)="deleteConnection($event)">
          </app-ipsec-connection-list>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
